* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  margin-right: 5px;
}
.button {
  background-color: #4a4a4a;
  color: rgb(148, 144, 144);
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 6px;

}

.mute {
  color: red;
  background-color: #4a4a4a;
}

main {
  height: calc(100vh - 110px);
  overflow: auto;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.card {
  flex-basis: calc(20% - 14px); /* Calcolato per 5 colonne con 7px di spazio tra di loro */
  flex-grow: 1;
  padding: 2px 4px;
  min-width: 20vh;
  color: rgb(148, 136, 136);
  position: relative;

}
.fa-table-cells {
  padding-right: 5px;
}


.name {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(34, 34, 34, 0.7);
  padding: 5px 5px;
}

.card img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  flex: 1 0 calc(20% - 7px); /* Calcolato per 5 colonne con 7px di spazio tra di loro */
  padding: 2px 4px;
  min-width: 20vh;
  color: rgb(148, 136, 136);
  position:relative;
  
}

footer {
  background-color: #222222;
  color: white;
  height: 60px;
}

footer nav {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style-type: none;
  display: flex;
}

footer ul li {
  padding: 15px;
}

.active {
  color: green;
}

.icon1 {
  color: red;
}

.icon2 {
  background-color: rgba(53, 50, 50, 0.34);
text-wrap: wrap;
color: aliceblue;
justify-content: center;

}
