* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;

}

header ul {
  display: flex;
  list-style: none;
  
}

header ul li {
  margin-right: 5px;

}

.button {
  background-color: #4a4a4a;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 6px;

}

.end {
  color: red;
  background-color: #4a4a4a;

}
main {
  height: calc(100vh - 110px);
  overflow: auto;
  background-color: black;
}

.fa-table-cells {
  padding-right: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 50px;
}

img {
  max-width: 100%;
}

.foto {
  width: calc(100% / 5);
  padding: 2px 4px;
  min-width: 20vh;
  color: white;
  position: relative;

}


.foto .span {
  position: absolute;
  left: 0;
  top: 20px;
  background-color:rgba(0, 0, 0, 0.25);

}

footer {
  background-color: #222222;
  color: white;
  height: 60px;
}

footer nav {
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style-type: none;
  display: flex;
  
}

footer ul li {
  padding: 15px;
}

.active {
  color: green;
}
  

